title:            British Columbia Canada Sepak Takraw Sports Association
description:      Describe your website here.
disqus_shortname: 
reading_time:     true
words_per_minute: 200
# Your site's domain goes here https://bccstsa-org.github.io/
# When testing locally leave blank or use http://localhost:4000
url:

# Owner/author information
owner:
  name:           B.C. Canada Sepak Takraw Sports Association
  avatar:         bio-photo.png
  bio:            
  email:          iroldinso1@gmail.com
  # Social networking links used in footer. Update and remove as you like.
  twitter:        
  facebook: https://www.facebook.com/groups/3559344850943622      
  github:         
  youtube:  https://www.youtube.com/@jamesonhtoo2735
  linkedin:       
  instagram: https://www.instagram.com/bccanadasepak     
  flickr:         
  tumblr:         
  # google plus id, include the '+', eg +mmistakes
  google_plus:

# Background image to be tiled on all pages
background: Wallgreen.jpg

# Analytics and webmaster tools stuff goes here
google_analytics:   
google_verify:      
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:         

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    America/New_York
future:      false  # publish future dated posts --  true, false (default) 
highlighter: rouge
markdown:    kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-gist
  - jekyll-feed
sass:
  sass_dir: _sass
  style: compressed

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title/

# Amount of post to show on home page
paginate: 5

kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false

include: 
  - .htaccess
exclude: 
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
